/* DEFAULTS
----------------------------------------------------------*/

body   
{
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0px;
    background-color:#b5ad9a;
}

a:link, a:visited
{
    color: #3a4f63;
    text-decoration: none;
    font-weight:bold;
}

a:hover
{
    color: #bfcbd6;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

img
{
    border: 0px;
}
.pageContent
{
    float:right;
    width: 860px;
}
.navigationDiv
{
    float:left;
    width: 115px;
    border-right: 1px solid #bfcbd6;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #3a4f63;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1000px;
    margin: 20px auto 0px auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: 110px;  /*added 2011-09-26 */
    background-image: url("wrapper_top_white3.png");
    background-repeat: no-repeat;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 13px 0px 0px;
    margin: 0px;
    min-height: 400px;
    overflow: hidden; /* added 2011-09-26 */
    background-image: url("wrapper_mid_white.png");
    background-repeat: repeat;
}

.contentbottom
{
    padding: 0px 12px;
    margin: 0px;
    min-height: 43px;
    background-image: url("wrapper_bottom_white.png");
    background-repeat: no-repeat;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 2px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}
.sm_ital
{
    font-weight:lighter;
    padding: 2px 0px 0px 0px;
    margin: 0px auto;
    font-style: italic;
    font-size: x-small;
}
.readMore
{
    font-size: .70em;
}

/* TOP MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    height: 10px;
    margin-left: 7px;
}

div.menu
{
    padding: 4px 0px 4px 8px;
    float: right;
    width: 995px;
    
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 98%;
    border: 1px solid #ccc;
    vertical-align: top;
}

input.passwordEntry 
{
    border: 1px solid #ccc;
    width: 100%;
}

div.accountInfo
{
    width: 70%;
    float:left;
}

div.accountInfoSide
{
    float: right;
    width: 25%;
    margin: 35px 10px 0px 5px;
}

/* BREADCRUMB   
----------------------------------------------------------*/
#breadcrumb
{
    height:2.3em;
    border: 1px solid dedede;
}

#breadcrumb li 
{
    float:left;
    line-height: 2.3em;
    padding-left: .75em;
    color:#777;
}
#breadcrub ul, li
{
    list-style-type:none;
    padding:0;
    margin:0;
}

#breadcrumb a
{
    display:block;
    height:15px;
    padding:0 15px 0 0;
    text-decoration: none;
    color:#454545;
    background: url(crumbs.gif) no-repeat right center;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px 25px 0px 0px;
    color: #3a4f63;
}

.loginDisplay a:link
{
    color: #3a4f63;
}

.loginDisplay a:visited
{
    color: #3a4f63;
}

.loginDisplay a:hover
{
    color: #bfcbd6;
}

.failureNotification
{
    font-size: .9em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.general_bttn 
{ 
    border:groove inset 1px #000000; 
    background:#3a4f63; 
    color:white; 
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif; 
    font-size: 8pt; 
}

/* Content nav (subpages)
----------------------------------------------------------*/
#SiteMap1
{
    /*padding: 0 0 20px 230px;*/
}
#SiteMap1 .RadSiteMap ul.rsmLevel1
{
    background: none;
    padding: 0 0 18px 0;
    zoom: 1;
}
.Image
{
    position: absolute;
    margin: 3px 0 0 0;
}
* + html .ContentHolder
{
    margin-top: 0;
}
* html .ContentHolder
{
    margin-top: 0;
}
.ContentHolder span
{
    display: block;
}
#SiteMap1.rsmItem
{
    color: #ccc;
}
#SiteMap1 .rsmLevel1 .rsmItem
{
    padding: 0 0 0 40px;
    height: 32px;
    margin: 0 0 10px 20px;
}
#SiteMap1 .rsmLevel1 .rsmLevel2 li.rsmItem
{
    padding: 0 0 0;
    height: auto;
    margin: 0 0 0 0;
}


/* Global and per-level link styles */
.RadSiteMap a
{
    text-decoration: none;
} 
.RadSiteMap .rsmLevel1 a
{
    font: normal 15px Arial,sans-serif;
} 
.RadSiteMap .rsmLevel2 a
{
    font: normal 11px Arial,sans-serif;
}
div.RadSiteMap .rsmLevel1 .rsmItem {
    font-size:0.6em;
}
.Header
{
    padding-left: 20px;
    line-height: 30px;
    color: #333333;
    font-family: sans-serif;
    background: url(Images/backTitle.gif) no-repeat scroll 0 0;
}
.RadSiteMap .rsmLevel
{
    background: url(Images/back.gif) no-repeat scroll 0 100%;
}
.RadSiteMap .rsmTemplate, .ContentHolder span
{
    zoom: 1;
}
.RadSiteMap li.rsmItem div.rsmTemplate
{
    border-bottom: 0px;
}
.RadSiteMap .rsmList .rsmItem
{
    padding: 0 0 3px;
}

div.RadSiteMap_Default .rsmLink, 
div.RadSiteMap_Default .rsmTemplate 
{
    border: 0;
}

div.RadSiteMap .rsmLink, 
div.RadSiteMap .rsmTemplate,
div.RadSiteMap .rsmTwoLevels .rsmTemplate,
div.RadSiteMap .rsmLevel1 .rsmLink, 
div.RadSiteMap .rsmLevel1 .rsmTemplate,
div.RadSiteMap .rsmLevel1 .rsmFlow
{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Category icons and colors */
.RadSiteMap .ASPNET 
{
    background: url('Images/prodAJAX.gif') no-repeat left top;
}
.RadSiteMap .MVC 
{
    background: url('Images/prodMVC.gif') no-repeat left top;
}
.RadSiteMap .Silverlight
{
    background: url('Images/prodSilverlight.gif') no-repeat left top;
}
.RadSiteMap .WPF
{
    background: url('Images/prodWPF.gif') no-repeat left top;
}
.RadSiteMap .WinForms
{
    background: url('Images/prodWinForms.gif') no-repeat left top;
}
.RadSiteMap .Reporting 
{
    background: url('Images/prodReporting.gif') no-repeat left top;
}
.RadSiteMap .ASPNET .rsmItem a.rsmLink
{
    color: #5aa246;
}
.RadSiteMap .MVC .rsmItem a.rsmLink
{
    color: #c7c600;
}
.RadSiteMap .Silverlight .rsmItem a.rsmLink
{
    color: #41a0b1;
}
.RadSiteMap .WPF .rsmItem a.rsmLink
{
    color: #702184;
}
.RadSiteMap .Reporting .rsmItem a.rsmLink
{
    color: #d0981d;
}
.RadSiteMap .WinForms .rsmItem a.rsmLink
{
    color: #3170ad;
}
.RadSiteMap .OpenAccess .rsmItem a.rsmLink
{
    color: #be531a;
}

.popupControl 
{
    background-color: #AAD4FF;
    position: absolute;
    visibility:hidden;
    border-style:solid;
    border-color: Black;
    border-width; 2px;
}

.modalBackground
{
    background-color:Black;
    filter:alpha (opacity=80);
    opacity:0.8;
    z-index: 10000;
}
.modalPopup
{
    background-color: #FFFFFF;
    width:400px;
    height:434px;
    border-width: 3px;
    overflow:auto;
}
/* Site navigation Menu styles */
.primaryStaticMenu
{
   background-color: transparent;
   float: right;
   font-size: .9em;
}
.primaryStaticMenuItem
{
   width: 7.5em;
   border-width: 1px;
   border-color: #efefef #aaab9c #ccc #efefef; 
   border-style: solid;
   color: #777777;
   padding: 0.5em 0 0.5em 1em;
}
.primaryStaticHover
{
   color: #800000;
   background: #f0e7d7;
}

.primaryDynamicMenu
{   
              
   border: solid 1px #ccc;
   background-color: #eff4f7;
   padding: 1px;
}  
.primaryDynamicMenuItem
{
   /*width: 10em;
   background-color: #ffffff; */
   color: #777;
   padding: 0.5em 0 0.5em 1em;
   border-width: 1px;
   border-color: #f7f2ea #aaab9c #f7f2ea #efefef;  
   border-style: solid;         
}    
.primaryDynamicHover
{
   color: #800000;
   background: #f0e7d7;
}            

.secondaryLevelOne
{
   background: Gray;
   margin: 1.5em 0 0 0;
   padding: 5px 0 0 5px;
   /*width: 12em; */
   height: 35px;
}
.secondaryLevelTwo
{
   background: #FAFBFB;
   padding: 5px 0 5px 5px;         
}
.secondaryStaticHover
{
   color: #800000;
}
